page-feed {
    /* COLOCAR O CÓDIGO DO ESTILO AQUI */

    /* --------------------------- CLASSES --------------------------- */
    h2.feed_title{
        color: purple;
        font-weight: bold;
    }

    p.feed_date{
        color: #ec8e00;
        font-weight: bold
    }
}
